[submodule "src/saif_devices/src/ur_modern_driver"]
	path = src/saif_devices/src/ur_modern_driver
	url = https://github.com/ros-industrial/ur_modern_driver.git
[submodule "src/saif_devices/src/robotiq_85_gripper"]
	path = src/saif_devices/src/robotiq_85_gripper
	url = https://github.com/StanleyInnovation/robotiq_85_gripper.git
[submodule "src/saif_devices/src/robotiq"]
	path = src/saif_devices/src/robotiq
	url = https://github.com/ros-industrial/robotiq.git
