[submodule "src/saif_devices/src/ur_modern_driver"]
	path = src/saif_devices/src/ur_modern_driver
	url = https://github.com/ros-industrial/ur_modern_driver.git
[submodule "src/saif_devices/src/robotiq_85_gripper"]
	path = src/saif_devices/src/robotiq_85_gripper
	url = https://github.com/StanleyInnovation/robotiq_85_gripper.git
[submodule "src/saif_devices/src/robotiq"]
	path = src/saif_devices/src/robotiq
	url = https://github.com/ros-industrial/robotiq.git
[submodule "src/saif_devices/src/universal_robot"]
	path = src/saif_devices/src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "src/saif_tools/Boost.NumPy"]
	path = src/saif_tools/Boost.NumPy
	url = https://github.com/gt-ros-pkg/Boost.NumPy.git
[submodule "src/saif_tools/ros_numpy"]
	path = src/saif_tools/ros_numpy
	url = https://github.com/eric-wieser/ros_numpy.git
