[submodule "src/saif_learning/visual_irl"]
	path = src/saif_learning/visual_irl
	url = git@github.com:ipab-rad/visual_irl.git
[submodule "src/saif_learning/ltl_diff"]
	path = src/saif_learning/ltl_diff
	url = git@github.com:ipab-rad/ltl_diff
[submodule "src/saif_devices/src/robotiq"]
	path = src/saif_devices/src/robotiq
	url = git@github.com:ipab-rad/robotiq
[submodule "src/saif_devices/src/robotiq_85_gripper"]
	path = src/saif_devices/src/robotiq_85_gripper
	url = git@github.com:ipab-rad/robotiq_85_gripper
[submodule "src/saif_devices/src/universal_robot"]
	path = src/saif_devices/src/universal_robot
	url = git@github.com:ipab-rad/universal_robot
[submodule "src/saif_devices/src/ur_modern_driver"]
	path = src/saif_devices/src/ur_modern_driver
	url = git@github.com:ipab-rad/ur_modern_driver
[submodule "src/saif_sensors/src/iai_kinect2"]
	path = src/saif_sensors/src/iai_kinect2
	url = git@github.com:ipab-rad/iai_kinect2
[submodule "src/saif_tools/Boost.NumPy"]
	path = src/saif_tools/Boost.NumPy
	url = git@github.com:ipab-rad/Boost.NumPy
[submodule "src/saif_tools/ros_numpy"]
	path = src/saif_tools/ros_numpy
	url = git@github.com:ipab-rad/ros_numpy
[submodule "src/saif_control/spacenav_teleop"]
	path = src/saif_control/spacenav_teleop
	url = https://github.com/ipab-rad/spacenav_teleop
[submodule "src/saif_control/ft_compliance"]
	path = src/saif_control/ft_compliance
	url = https://github.com/ipab-rad/ft_compliance
[submodule "src/saif_perception/src/contour_tracer"]
	path = src/saif_perception/src/contour_tracer
	url = https://github.com/ipab-rad/contour_tracer
