<?xml version="1.0"?>

<!-- the blue robot -->
<robot name="dual" xmlns:xacro="http://www.ros.org/wiki/xacro">
        <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro"/>

	<xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

	<xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

	<xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro"/>

	<xacro:robotiq_ft300 parent="blue_tool0" prefix="blue_">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:robotiq_ft300>

	<!-- arm -->
	<xacro:ur10_robot prefix="blue_" joint_limited="false"/>
 	<xacro:robotiq_85_gripper prefix="" parent="blue_robotiq_ft_frame_id">
		 <origin xyz="0.0 0.0 0.0" rpy="0 -1.57079632679 0"/>
	</xacro:robotiq_85_gripper>

<link name='cable_1'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='arm_2_cable1' type="fixed">
		<parent link='blue_forearm_link'/>
		<child link='cable_1'/>
		<origin xyz="0.1 0.0 0.3"/>
	</joint>
	<link name='cable_2'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='arm_2_cable2' type="fixed">
		<parent link='blue_upper_arm_link'/>
		<child link='cable_2'/>
		<origin xyz="0.0 0.06 0.325"/>
	</joint>
	<link name='cable_ee'>
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='arm_2_cable_22' type="fixed">
		<parent link='blue_tool0'/>
		<child link='cable_ee'/>
		<origin xyz="-0.1 0.0 0.06"/>
	</joint>
	<link name='realsense_mount'>
		<visual>
			<geometry>
				<box size="0.05 0.05 0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='ee_2_realsense_22' type="fixed">
		<parent link='gripper_base_link'/>
		<child link='realsense_mount'/>
		<origin xyz="0.02 0.0 -0.05"/>
	</joint>


	<xacro:include filename="$(find dual_arm_description)/urdf/d435.urdf.xacro"/>

	<xacro:sensor_d435 parent="gripper_base_link">
		<origin xyz ="0.02 0 -0.1" rpy="0 3.14159 3.14159"/> 
	</xacro:sensor_d435>

<!-- the red robot -->
	<xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />


	<!-- arm -->
	<xacro:ur10_robot prefix="red_" joint_limited="false"/>

	<xacro:robotiq-3f-gripper_articulated prefix=""/>

	<joint name="red_palm_arm" type="fixed">
		<parent link="red_tool0"/>
		<child link="palm"/>
		<origin xyz="0 0 0" rpy="1.57079632679 0 2.35619449019"/>
	</joint>

	<link name='red_cable_1'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_arm_2_cable1' type="fixed">
		<parent link='red_forearm_link'/>
		<child link='red_cable_1'/>
		<origin xyz="0.1 0.0 0.3"/>
	</joint>
	<link name='red_cable_2'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_2_cable2' type="fixed">
		<parent link='red_upper_arm_link'/>
		<child link='red_cable_2'/>
		<origin xyz="0.0 0.06 0.325"/>
	</joint>
	<link name='red_cable_ee'>
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_arm_2_cable_22' type="fixed">
		<parent link='red_tool0'/>
		<child link='red_cable_ee'/>
		<origin xyz="-0.07 -0.07 -0.03"/>
	</joint>

<!-- connecting the red and blue arms together -->
	<joint name="ceiling_to_blue" type="fixed">
		<parent link="ceiling" />
		<child link="blue_base_link" />
		<origin xyz="-0.715 0.05 0" />
	</joint>

	<joint name="ceiling_to_red" type="fixed">
		<parent link="ceiling" />
		<child link="red_base_link" />
		<origin xyz="0.715 0 0" />
	</joint>

	<link name="ceiling" />

</robot>
