<?xml version="1.0"?>

<robot name="red" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />

	<xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

	<xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />


	<!-- arm -->
	<xacro:ur10_robot prefix="red_" joint_limited="false"/>

	<xacro:robotiq-3f-gripper_articulated prefix=""/>

	<joint name="red_palm_arm" type="fixed">
		<parent link="red_tool0"/>
		<child link="palm"/>
		<origin xyz="0 0 0" rpy="1.57079632679 0 -0.78539"/>
	</joint>

	<link name='red_cable_1'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_arm_2_cable1' type="fixed">
		<parent link='red_forearm_link'/>
		<child link='red_cable_1'/>
		<origin xyz="0.1 0.0 0.3"/>
	</joint>
	<link name='red_cable_2'>
		<visual>
			<geometry>
				<cylinder length="0.45" radius="0.05"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_2_cable2' type="fixed">
		<parent link='red_upper_arm_link'/>
		<child link='red_cable_2'/>
		<origin xyz="0.0 0.06 0.325"/>
	</joint>
	<link name='red_cable_ee'>
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	<joint name='red_arm_2_cable_22' type="fixed">
		<parent link='red_tool0'/>
		<child link='red_cable_ee'/>
		<origin xyz="0.07 0.0 -0.06"/>
	</joint>
</robot>
