<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur10_two_arms">

<xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />
<!--xacro:ur10_robot prefix="left_shoulder_" joint_limited="true" shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}" shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}" elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}" wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}" wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}" wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"/>

<xacro:ur10_robot prefix="right_shoulder_" joint_limited="true" shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}" shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}" elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}" wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}" wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}" wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"/-->


<!-- the stuff below will need cleanup -->
<xacro:ur10_robot prefix="left_shoulder_" joint_limited="false" />
<xacro:ur10_robot prefix="right_shoulder_" joint_limited="false" />

<xacro:property name="x_offset" value="0.025" />
<xacro:property name="y_offset" value="0.025" />
<xacro:property name= "joint_offset_base" value = "0.010"/>

<!-- * * * Link Definitions * * * -->
<!-- : Define in Macros -->

  <link name="world" />

   <link name="platform">
		<visual>
		    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
			<geometry>
				<box size="3.0 3.0 0.05"/>
			</geometry>
			<material name="Cyan1">
	       		<color rgba="0 0.9 0.9 1.0"/>
	     	</material>
		</visual>
	 </link>

   <link name="left_rail">
     <visual>
			<!--origin xyz="0 0 0.05" rpy="0 0 0"/-->
		  	<geometry>
			  	<cylinder radius="0.075" length="0.038"/>
			  </geometry>
	     	<material name="Cyan3">
				 <color rgba="0 0.5 0.5 0"/>
			  </material>
	   </visual>
  </link>

  <link name="right_rail">
    <visual>
     <!--origin xyz="0 0 0.05" rpy="0 0 0"/-->
       <geometry>
         <cylinder radius="0.075" length="0.038"/>
       </geometry>
       <material name="Cyan3">
        <color rgba="0 0.5 0.5 0"/>
       </material>
    </visual>
 </link>

 <joint name="world_joint" type="fixed">
   <parent link="world" />
   <child link = "platform" />
   <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 </joint>

  <joint name="left_platform_base" type="fixed">
    	<parent link="platform"/>
    	<child link="left_rail"/>
    	<origin xyz="-0.5 -0.5 0.0" rpy="0 0 0"/>
	</joint>

  <joint name="right_platform_base" type="fixed">
      <parent link="platform"/>
      <child link="right_rail"/>
      <origin xyz="0.20 0.20 0.0" rpy="0 0 0"/>
  </joint>

 <joint name="right_joint" type="fixed">
   <parent link="right_rail" />
   <child link = "right_shoulder_base_link" />
   <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 </joint>

 <joint name="left_joint" type="fixed">
   <parent link="left_rail" />
   <child link = "left_shoulder_base_link" />
   <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 </joint>


</robot>
