<?xml version="1.0"?>
<launch>
        <include file="$(find saifer_launch)/launch/startup_arms.launch"/>        
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dual_moveit)/launch/moveit.rviz"/>

	<node name="planning_scene_constraints" pkg="planning_scene_constraints" type="add_static_objects.py" output="screen"/>

</launch>
