<?xml version="1.0"?>
<launch>
  <!-- arms, grippers and ft sensor launch-->
  <include file="$(find saifer_launch)/launch/startup_red.launch"/>
  
  <!-- robot model -->
  <include file="$(find dual_arm_description)/launch/red_upload.launch"/>
 
  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<rosparam param="source_list">[/red/joint_states, /gripper/joint_states]</rosparam>
  </node>
  
  <include file="$(find red_moveit)/launch/move_group.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find red_moveit)/launch/moveit.rviz"/>

</launch>
