<?xml version="1.0"?>
<launch>

  <arg name="robot_ip" doc="IP of the controller" default="192.168.101.3" />
  <arg name="reverse_ip" default="192.168.101.4" doc="IP of the computer running the driver" />
  <arg name="prefix" default="red"/>
  <arg name="ip_gripper" default="192.168.1.11"/>

  <include file="$(find dual_arm_description)/launch/red_upload.launch"/>

  <!--node name="planning_scene_constraints" pkg="planning_scene_constraints" type="add_static_objects.py" output="screen"/-->


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	<!--remap from="/joint_states" to="/$(arg prefix)/joint_states"-->
  </node> 
  
  <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver" output="screen" ns="red">
	<param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
	<param name="reverse_ip_address" type="str" value="$(arg reverse_ip)" />
	<param name="prefix" type="str" value="$(arg prefix)_"/>
  </node> 



  <node name="robotiq_3f_js_pub" pkg="robotiq_3f_gripper_joint_state_publisher" type="robotiq_3f_gripper_joint_states">
	<remap from="joint_states" to="gripper3/joint_states"/>
  </node>

  <node name="robotiq_3f_controller" pkg="robotiq_3f_gripper_control" type="Robotiq3FGripperTcpNode.py" args="$(arg ip_gripper)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<rosparam param="source_list">["/red/joint_states","/gripper3/joint_states"]</rosparam>
  </node>

  <include file="$(find red_moveit)/launch/move_group.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find red_moveit)/launch/moveit.rviz"/>

 <node name="red_ft_sensor" pkg="robotiq_ft_sensor" type="rq_sensor" output="screen" ns="red">
        <param name="serial_id" value="ft_red"/>
        <param name="frame_id" value="red_robotiq_ft_frame_id"/>
  </node>

</launch>
